$fontPath: '/assets/fonts/';
$imagePath: '/assets/images/';

/* *** FONTS *** */

/* *** COLORS *** */
$white: #fff;
$black: #000;

$fb: #375597;
$vk: #4b729d;
$instagram: #262626;
$ok: #ff9710;
$gp: #e43f52;
